@feature45: feature45;

.@{feature45}-wrapper {
  min-height: 600px;
  overflow: hidden;

  .ant-card-body {
    height: 200px;
    padding: 16px;
    background: #f5f6f9;
  }

  .ant-card-hoverable {
    // cursor: default;
  }

  .ant-card-meta-description {
    .description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;
      color: #000;
    }
    .view-detail-button {
      color: #ec1c2a;
      font-weight: 500;
      margin-top: 12px;
    }
  }

  .ant-card-meta-title {
    white-space: normal;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 28px;
    font-family: "SFProDisplay";

    small {
      color: rgba(0, 0, 0, 0.34);
      font-size: 12px;
      font-weight: 400;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  .@{feature45} {
    height: 100%;
    padding: 80px 24px;

    img {
      width: 100%;
      height: auto;
    }

    ul {
      margin: 16px;
      > li {
        margin-left: 28px;
      }
    }

    > .title-wrapper {
      margin: 0 auto 20px;
      display: flex;
      justify-content: space-between;
      padding: 0 12px;
      align-items: flex-end;

      .text {
        font-weight: 600;
        font-size: 28px;
        line-height: 40px;
        margin-bottom: 20px;
        font-family: "SFProDisplay";
      }
    }

    > .explain-wrapper {
      max-width: 630px;
      text-align: center;
      margin: 0 auto 48px;
      line-height: 21px;
    }

    &-block {
      padding: 0 12px;
      display: inline-block;
      text-align: left;
      min-height: 200px;
      margin-bottom: 24px;
      img {
        width: 100%;
      }

      &-wrapper {
        position: relative;
        height: 100%;
        top: 25%;
        padding: 20px 0;
      }

      &.queue-anim-leaving {
        position: relative !important;
      }

      &-icon {
        width: 100px;
        height: 100px;
        margin: auto;
      }

      &-title {
        line-height: 22px;
        margin: 10px auto;
        font-size: 18px;
      }
      &.block-2 {
        .ant-card-body {
          height: 228px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .@{feature45}-wrapper {
    min-height: 880px;
  }
}
